#centeredFirstpage {
	display:flex;
	flex-flow:column;
}
.openedStuff {
	
	display:flex;
	flex-flow:row;
	padding-right:30px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
.openedStuff label {
	padding-left:0.5%;
	margin-left:10px;
	background-color:#FFF8DC;	
}
.openedStuff button {
	margin-left:auto;
	margin-right:auto;
	order: 2;	
}
.openedStuff input {
	padding-left:0.5%;
	margin-left:10px;	
}
#prosnja {
	border-style:solid;
	display:flex;
	flex-flow:column;
	padding-right:30px;
	height:auto;
}
.novDan {
	border-style:solid;
	display:flex;
	flex-flow:column;
	background-color:#DCDCDC;
	height:auto;
	display:none;
	min-width:20%;
}
.novDan input{
	width:50%;
}
.novDan span, input, button{
	margin-top:2%;
}
.dan {
	display:block;
	background-color:#7FFF00;
	margin-left:10%;
	margin-top:10%;
}
#file {
	width:80%;
}
moj-div {
	border-style:solid;
	display:flex;
	flex-flow:column;
	padding-right:30px;
	min-width:10%;
}
#novaprosnja {
	margin-left:auto;
	margin-right:auto;
}

@media screen and (max-width:960px) {
	.openedStuff label {
		display:none;
	}
	#ime  {
		display:inline;
	}
	#priimek {
		display:inline;
	}
	#destinacija {
		display:inline;
	}

}
@media screen and (max-width:380px) {
	.openedStuff{
		max-width:300px;
		display:block;
		flex-flow:column;
	}
}
