header {
	background-color: #FFFFCC;
	height:auto;
}
footer {
	height:40px;
	background-color:white;
    position:fixed;
    bottom:0;
    width: 100%;
	text-align:center;
	font-size:150%;
}
#container {
	background-color:#FFFFCC;
}
.footer {
	height:40px;
	background-color:#558C89;
    position:fixed;
    bottom:0;
    width: 100%;
    text-align:center;
}
.centered-content {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	background-color:white;
}
#login a , #menu a{
	border-radius:0px;
	background:white;
}

.header {
  margin-top:0px;
  margin-bottom:0px;
  overflow: auto;
  list-style-type: none;
  background-color: white;

}
.header li:not(:first-child){
  float:right;
  margin-right: 0px;
}
.header li:first-child{
  margin-left: 25px;
  float: left;
  padding: 0px 0px;
}

.header li:not(:first-child) a{
    display: inline-block;
    text-align: center;
    padding: 25px 16px;
    text-decoration: none;
    font-size: 16px;
    color:black;
	border-radius: 25px;
    background: #A9A9A9;
}
.header li a:hover {
    background-color: #CCFFCC;
}

#menu {
	display:none;
}
#main {
	flex-grow:1;
	display:flex;
	background:yellow;
	height:100%;
}
#login a {
	padding: 5px 5px;
}
body {
	margin:0;
	box-sizing:border-box;
	display:flex;
	flex-flow:column;
	min-height:90vh;
	background-color:#FFFFCC;
}
@media screen and (max-width:960px) {
	.header li:not(:first-child) {
		display:none;		
	}
	.header.small li:not(:first-child) {
		display:inline;	
		float:right;
		clear:both;
	}	
	#menu {
		float: right;
		display: inline-block;
		border:none;
		position: absolute;
		right: 0;
		top: 0;
	}
	#menu a {
		 padding: 0px 0px;
	}
	.centered-content {
		width:auto;	
	}
	header{
		height:auto;
	}
}
@media screen and (max-width:380px) {
	
	#menu {
		display: inline-block;
		border:none;
		position: absolute;

	}
	header {
		min-height:60px;
	}
}