#bla {
text-align:center;

}
#majhna {
	display:none;
}
#srednja {
	display:none;
}
p {
	font-size:150%;
	background-color:yellow;	
	
}
@media screen and (max-width:960px) {
	#velika {
		display:none;
	}
	#majhna {
		display:none;
	}
	#srednja {
		display:block;
	}
	
}
@media screen and (max-width:380px) {
	#velika {
		display:none;
	}
	#majhna {
		display:block;
	}
	#srednja {
		display:none;
	}
	
}