#centeredFirstpage {
	display:flex;
	flex-flow:column;
}
p {
	font-size:150%;
}
.openedStuff {
	border-style:solid;
	display:flex;
	flex-flow:row;
	padding-right:30px;
	height:auto;
	margin-top:20px;
}
.openedStuff label {
	padding-left:0.5%;
	margin-left:10px;
	margin-top:auto;
	margin-bottom:auto;
}
.openedStuff > p {
	padding-left:0.5%;
	margin-left:10px;	
}

.openedStuff input {
	padding-left:0.5%;
	margin-left:10px;	
}
.openedStuff span > button {
	margin-top:auto;
	margin-bottom:auto;
}
.openedStuff > button {
	margin-top:auto;
	margin-bottom:auto;
	max-width:60px;
}
.openedStuff > input {
	margin-top:auto;
	margin-bottom:auto;
	max-width:120px;
}
#novaprosnja {
	margin-left:auto;
	margin-right:auto;
}
.meni {
	display:flex;
	flex-flow:column;
	border:dotted;
	margin-left:auto;
	margin-right:auto;
}
.zgoraj {
	background-color:#FFF8DC;
	height:50%;
}	
.spodaj {
	background-color:#00FFFF;
	height:50%;
}
@media screen and (max-width:960px) {
	.openedStuff {
		flex-flow:column;
		height:300px;
	}
	.meni {
		flex-flow:row;
		margin-top:auto;
		margin-bottom:auto;
		margin-left:0;
	}
}
@media screen and (max-width:380px) {
	.openedStuff{
		max-width:300px;		
	}
	.zgoraj {
		display:none;
	}

}
